<html>
    <body>
        {%include 'superior/navbar.html'%}

        <h1>Hola mundo</h1>

        {%if nombre_persona == 'Marco'%}

        <p>El curso lo imparte el profesor titular</p>

        {%else%}

        <p>El curso lo imparte el profesor suplente</p>

        {%endif%}
        <p>El nombre del profesor es: {{nombre_persona|upper}} {{apellido_persona.upper}}</p>
        <p>Estamos viendo el tema de las plantillas a dia: {{momento_actual.day}} / {{momento_actual.month}} / {{momento_actual.year}}</p>
        <p><strong>temas del curso: </strong></p>
        <p>
            <ul>
            {%if temas%}
                {% for el_tema in temas%}
                    <li>{{el_tema|first|lower}}</li>
                {% endfor %}
            
            {%else%}
                <p>No hay elementos para mostrar</p>
            {%endif%}
            </ul>
        </p>
    </body>
</html>