{% extends "index.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <div class="contenedorFormulario">

        {% if "valido" in request.GET %}

            <p style="color: white;">Informacion enviada correctamente</p>
        
        {% endif %}
        <form action="" method="POST" style="text-align: center;">
            {% csrf_token %}
            <table style="color: white; margin: 20 px auto;">{{ mi_formulario.as_table}}</table>
            <input type="submit" value="Enviar" style="width: 150;"">
        </form>
    </div>
    {{request.POST}}
</body>
</html>

{%endblock%}