<html>
    <body>
        <p>Estas buscando: <strong>{{query}}</strong></p>

        {%if articulos %}

            <p>Articulos encontrados: {{articulos|length}} articulos</p>

            <ul>
                {%for articulo in articulos%}
                <li>
                    {{articulo.nombre}} &nbsp; {{articulo.seccion}} &nbsp; {{articulo.precio}}
                </li>
                {%endfor%}
            </ul>
            {%else%}

                <p>Articulo no encontrado</p>
        {%endif%}
    </body>
</html>